{% extends "DataMonitor/base.html" %}

{% block main %}
    <div class="row">
        <div id="vmaig-content" class="col-md-12 col-lg-12">
            <div class="home-post well clearfix" id="close_home_post">
                <div class="post-title underline clearfix">
                    <h1>
                        {{Category_name}}
                    </h1>
                </div>
                {% load static %}
                <div>
                    <img src={% static plot_file%}></img>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
