{% extends "DataMonitor/base.html" %}

{% block main %}
    <div class="row">
        <div id="vmaig-content" class="col-md-12 col-lg-12">
            <div class="home-post well clearfix" id="close_home_post">
                <div class="post-title underline clearfix">
                    <h1>
                        GY_39
                    </h1>
                </div>
                <div id="home-post-list">
                    <!--首页文章列表 -->
                    {% if GY_39_list %}
                        {% with post_list=GY_39_list %}
                            {% for post in post_list %}
                                {% include "DataMonitor/include/home_post.html" %}
                            {% endfor %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
